<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="persistence.IMessageDAO">

    <resultMap id="MessageResultMap" type="Message" autoMapping="true">
        <id property="messageId" column="message_id"/>
        <result property="message" column="message"/>
        <result property="messageSignature" column="message_signature"/>
        <result property="time" column="time"/>
        <association property="conversation" column="conversation_id" javaType="Conversation"
                     select="persistence.IConversationDAO.getEntityById"/>
        <association property="messageType" column="message_type_id" javaType="MessageType"
                     select="persistence.IMessageTypeDAO.getEntityById"/>
    </resultMap>

    <select id="getAll" resultMap="MessageResultMap">
        SELECT * FROM messages;
    </select>

    <select id="getEntityById" resultMap="MessageResultMap">
        SELECT * FROM messages WHERE message_id = #{id};
    </select>

    <insert id="saveEntity" parameterType="Message" useGeneratedKeys="true" keyProperty="messageId"
            keyColumn="message_id">
        INSERT INTO messages (conversation_id, message_type_id, message, message_signature, time)
        VALUES (#{conversation.conversationId}, #{messageType.messageTypeId}, #{message}, #{messageSignature}, #{time});
    </insert>

    <update id="updateEntity" parameterType="Message">
        UPDATE messages SET
        conversation_id = #{conversation.conversationId},
        message_type_id = #{messageType.messageTypeId},
        message = #{message},
        message_signature = #{messageSignature},
        time = #{time}
        WHERE message_id = #{messageId};
    </update>

    <delete id="removeEntityById" parameterType="int">
        DELETE FROM messages WHERE message_id = #{id};
    </delete>
</mapper>
