<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="persistence.IUserDAO">

    <resultMap id="UserResultMap" type="User" autoMapping="true">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="publicKey" column="public_key"/>
        <result property="privateKey" column="private_key"/>
    </resultMap>

    <select id="getAll" resultMap="UserResultMap">
        SELECT * FROM users;
    </select>

    <select id="getEntityById" resultMap="UserResultMap">
        SELECT * FROM users WHERE user_id = #{id};
    </select>

    <select id="getUserByName" resultMap="UserResultMap">
        SELECT * FROM users WHERE user_name = #{userName};
    </select>

    <insert id="saveEntity" parameterType="User" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id">
        INSERT INTO users (user_name, password, public_key, private_key)
        VALUES (#{userName}, #{password}, #{publicKey}, #{privateKey});
    </insert>

    <update id="updateEntity" parameterType="User">
        UPDATE users SET
        user_name = #{userName},
        password = #{password},
        public_key = #{publicKey},
        private_key = #{privateKey}
        WHERE user_id = #{userId};
    </update>

    <delete id="removeEntityById" parameterType="int">
        DELETE FROM users WHERE user_id = #{id};
    </delete>
</mapper>
